@charset "ISO-8859-1";



.navigationbar {
  overflow: hidden;
  background-color:black;
  width: 100%;
  z-index:0;
 
}

.navigationbar a {
	float: left;
	font-weight:bold;
	text-align: center;
  	display:block;
	letter-spacing: 4px;
	padding: 2px 27px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .95em;
	line-height: 45px;
	border: none;
	color:orange;
	

}

.navigationbar img {
 
 
  overflow:visible;
 
}

.navigationbar a:hover {
  background-color: orange;
  color: white;
  }
  
  
  @media print {
  @page { margin: 0; }
  body { margin: 1.6cm; }
}